<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="LogglyAppender" />
			<appender-ref ref="ColoredConsoleAppender" />
		</root>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="White" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
			<rootUrl value="https://logs.loggly.com/" />
			<defaultInputKey value="eb952942-e7c0-4f37-9746-8f018d329595" />
		</appender>
	</log4net>
</configuration>